.bgimage {
  background-image: url('#{$baseurl}/images/carpet.jpg');
  position: relative;
  overflow: hidden;
  background-position: top;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 2em;
}
