$dog-image-hover-opacity: 0.7;
$dog-image-hover-color: #F8F2B4;

.bgimage-dog {
  background-image: url('#{$baseurl}/images/dog.jpg');
  position: relative;
  overflow: hidden;
  background-position: top;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 2em;

}
