.bgimage-2 {
  background-image: url('#{$baseurl}/images/bgimage-2.jpg');
  position: relative;
  overflow: visible;
  background-position: top;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
