<div class="cards">
  <div class="card">
    <div class="card-image">
      <img src="{{ site.baseurl }}/images/stairs.jpg" alt="Free Estimates">
    </div>
    <div class="card-header">
      Free estimates.
    </div>
    <div class="card-copy">
      <p>
Covering Bradford, Leeds, Kirklees and Calderdale.<br>
Contact us via phone, email or our facebook page for a Free - No Obligaition Estimate.<br>
Providing the best value whilst maintaining the upmost professional cleaning service for your home or business.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <img src="{{ site.baseurl }}/images/prochem.jpg" alt="Professional Carpet Cleaning">
    </div>
    <div class="card-header">
      Professional Carpet Cleaning
    </div>
    <div class="card-copy">
      <p>

We use the Prochem™ "Super Extraction" machines to give you the best possible results for your carpets</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <img src="{{ site.baseurl }}/images/carpet-small.jpg" alt="Customer Satisfaction">
    </div>
    <div class="card-header">
      Customer Satisfaction
    </div>
    <div class="card-copy">
      <p>We aim to ensure satisfaction for you from the very first moment of contact, right through to the end results.<br>
From the start we will work with you to explain any concerns, give a full estimate on your pricing and leave with a perfect result.</p>
    </div>
  </div>
</div>
