<div class="cards bgimage-2">
  <div class="card"><a href="#" class="card-links">
    <div class="card-image">
      <img src="{{ site.baseurl }}/images/carpet-rainbow.jpg" alt="Carpet Cleaning Specialists">
    </div>
    <div class="card-header">
      Carpet Cleaning Specialists.
    </div>
    <div class="card-copy">
      <p>Carpet cleaning is our speciality and with our fully trained, insured and competent staff we can offer the highest standard of cleaning for you and your family.</p>
      <p>We will endeavour to bring your carpet back to life and bring a freshness back to any room in the home, office or commercial residence such as landlord letting's.</p>
    </div></a>
  </div>

  <div class="card"><a href="#" class="card-links">
    <div class="card-image">
      <img src="{{ site.baseurl }}/images/sofa.jpg" alt="Upholstery and Curtain Cleaning">
    </div>
    <div class="card-header">
      Upholstery and Curtain Cleaning.
    </div>
    <div class="card-copy">
      <p>Sit Back and Relax On Your Freshly Cleaned Upholstery... It's A Great Feeling!</p>
    <p>Not only will our cleaning services refresh and prolong the life of your furniture, but we will do it at an affordable price. All of our cleaning methods are selected based on your furniture's specific needs and the fabric of your furniture.</div></a>
  </div>

</div>
