<div class="cards bgimage-2">
  <div class="card"><a href="#" class="card-links">
    <div class="card-image">
      <img src="{{ site.baseurl }}/images/stairs.jpg" alt="Free Estimates">
    </div>
    <div class="card-header">
      Free estimates.
    </div>
    <div class="card-copy">
      <p>
Covering Bradford, Leeds, Kirklees and Calderdale.<br>
Contact us via phone, email or our facebook page for a Free - No Obligaition Estimate.<br>
Providing the best value whilst maintaining the upmost professional cleaning service for your home or business.</p>
    </div></a>
  </div>

  <div class="card"><a href="#" class="card-links">
    <div class="card-image">
      <img src="{{ site.baseurl }}/images/prochem.jpg" alt="Professional Carpet Cleaning">
    </div>
    <div class="card-header">
      Professional Carpet Cleaning
    </div>
    <div class="card-copy">
      <p>

We use the Prochem™ "Super Extraction" machines to give you the best possible results for your carpets</p>
    </div></a>
  </div>

</div>
