.site-nav {
  text-align: center;
  &:hover {
    text-decoration: none;
  }
  ul {
    margin: 1em 0;
    list-style: none;
    padding-left: 5%;
    padding-right: 5%;
    text-decoration: none;
  }
  li {
    display: inline-block;
    margin: 0 0.5em;
    font-size: 1.2em;
    text-decoration: none;

  }
}
