.site-nav {
  text-align: center;

  ul {
    margin: 1em 0;
    list-style: none;
    padding-left: 5%;
    padding-right: 5%;
  }
  li {
    display: inline-block;
    margin: 0 0.5em;
    font-size: 1.2em;

  }
}
