.site-nav {
  color: #ffdaa5;
  text-decoration-skip: ink;
  transition: color $base-duration $base-timing;
  text-decoration: none;
  text-align: center;
  &:hover {
    color: #fff;
  }

  &:focus {
    outline: 0;
    outline-offset: 0;
  }

  ul {
    margin: 1em 0;
    list-style: none;
    padding-left: 5%;
    padding-right: 5%;

  }
  li {
    display: inline-block;
    margin: 0 0.5em;
    font-size: 1.2em;
  }
}
